<div class="container-fluid p-0">
  <div class="container py-5 mt-5">
    <section class="mt-5">
      <div class="row" data-aos="fade-up">
        <div class="col-12 mb-3">
          <h4 class="text-white"><i class="bi bi-images" style="color: var(--brand-purple)"></i> Gallery</h4>
        </div>
        <div class="col-12">
          <div id="carouselExampleCaptions" class="carousel slide shadow rounded" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="https://picsum.photos/id/1018/1200/500" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-white">Family Gatherings</h5>
                  <p class="text-white">Celebrating the festivals together.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://picsum.photos/id/1019/1200/500" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-white">Beautiful Culture</h5>
                  <p class="text-white">I love Six Seven</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://picsum.photos/id/1025/1200/500" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-white">Business and Being Rich</h5>
                  <p class="text-white">The hustle and bustle of daily trade.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>